<div class=" bg-white rounded-[24px] shadow-lg w-[400px] h-[400px] p-5">
  <form class="h-[300px] flex flex-col justify-center items-center gap-2 text-[#3f51b5]" [formGroup]="loginForm" (ngSubmit)="login()">
    <h2 class="font-[medium-content-sans-serif-font] text-[30px] font-bold">Account Login</h2>
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="correo" placeholder="Ex. pat@example.com">
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>password</mat-label>
      <input type="password" matInput formControlName="password" placeholder="*****************">
    </mat-form-field>

    <button  type="submit" class="w-[200px] bg-[#3f51b5] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-[10px]">
      login
    </button>
  </form>
  <p class="text-center ">Not registered? <a class="text-[#3f51b5] hover:text-blue-700" href="#">Create an account</a></p>
</div>
